<%- include('../partials/headers/headerlogic') %> 

<div class="abilitiesListLvl1">Available Abilities
   <!-- set up an ejsif here that checks the actor user id against the logged in user once there is active user data. -->
   <% abilities.forEach(e => { %>
    <br>
    <% if(user && user._id.equals(e.owner) || user && user.userLevel==="Super"){ %>
        <h3><a href="/abilities/<%= e._id %>" class="abilitiesListItem"><%= e.name %></a></h3>
        <% } %>
     <% if (user && user.userLevel==="Super") { %>
      <form class="delete" method="POST" action="/abilities/<%= e._id %>?_method=DELETE"><button type ="submit">Delete <%= e.name %> </button></form>
      <br>
      <hr>
      <br>
     <% } %>
    <% }) %>
</div>
<br>
<% if (user && user.userLevel==="Super") { %>
<a href="/abilities/new">Add New Ability</a>
<% } %>




<%- include('../partials/headers/footer') %>