<%- include('../partials/headers/headerlogic') %> 

<% if (user) { %><% if (user.email==="mattedwards1452@gmail.com") { %>
<div class="orbsMainDiv">Orbs
    <!-- set up an ejsif here that checks the actor user id against the logged in user once there is active user data. Until then, turn off the whole thing for players. -->
     <% orbs.forEach(e => { %>
      <a href="/orbs/<%= e._id %>" class="orbsListItem"><%= e.name %> </a>
      <% if (user) { %><% if (user.email==="mattedwards1452@gmail.com") { %>
       <form class="delete" method="POST" action="/orbs/<%= e._id %>?_method=DELETE"><button type ="submit">Delete <%= e.name %> </button></form>
      <% } %><% } %>
     <% }) %>
 </div>
 <% } %><% } %>

 <% if (user) { %><% if (user.email==="mattedwards1452@gmail.com") { %>
 <form class="newOrb" method="GET" action="/orbs/new"><button type="submit">Add New Orb</button></form>
 <% } %><% } %>
 


<%- include('../partials/headers/footer') %>