<%- include('../partials/headers/headerlogic') %> 

<div class="actorsListLvl1">Available Actors
   <!-- set up an ejsif here that checks the actor user id against the logged in user once there is active user data. -->
   <% actors.forEach(e => { %>
    <br>
    <% if(user && user._id.equals(e.owner)){ %>
        <h3><a href="/actors/<%= e._id %>" class="actorsListItem"><%= e.name %></a></h3>
        <% } %>
     <% if (user && user.userLevel==="Super") { %>
      <form class="delete" method="POST" action="/actors/<%= e._id %>?_method=DELETE"><button type ="submit">Delete <%= e.name %> </button></form>
      <br>
      <br>
      <hr>
      <br>
     <% } %>
    <% }) %>
</div>
<br>
<% if (user && user.userLevel==="Super") { %>
<a href="/actors/new">Add New Actor</a>
<% } %>


<!-- <iframe src="" frameborder="0"></iframe> -->

<%- include('../partials/headers/footer') %>