<%- include('../partials/headerlogic') %> 

<div class="actorGrid">
<div class="name"><%= actor.name %> </div>
<div class="owner"><%= actor.owner %> </div>
<div class="abilitiesGrid"><% actor.abilities.forEach(a => { %>
    <div class="ability" id="abilityName"><%= a.name %> </div>
    <div class="ability" id="powerLevel"><%= a.effectivePowerLevel %> </div>
    <div class="ability" id="cost"><%= a.cost %> </div>
<% }) %></div>
<div class="items"><%= actor.items %> </div>
<div class="orbsGrid"><% actor.orbs.forEach(o => { %>
    <div class="orbs" id="orbName"><%= o.name %> </div>
<% }) %></div>
<% if (user) { %>
<% if (user.email==="mattedwards1452@gmail.com") { %>
 
<div class="statsGrid">
    <div class="strength"><%= actor.strength %> </div>
    <div class="dexterity"><%= actor.dexterity %> </div>
    <div class="constitution"><%= actor.constitution %> </div>
    <div class="intelligence"><%= actor.intelligence %> </div>
    <div class="wisdom"><%= actor.wisdom %> </div>
    <div class="charisma"><%= actor.charisma %> </div>
    <div class="balisticSkill"><%= actor.balisticSkill %> </div>
    <div class="weaponSkill"><%= actor.weaponSkill %> </div>
    <div class="fortitude"><%= actor.fortitude %> </div>
    <div class="reflex"><%= actor.reflex %> </div>
    <div class="will"><%= actor.will %> </div>
    <div class="evasion"><%= actor.evasion %> </div>
    <div class="missChance"><%= actor.missChance %> </div>
    <div class="maxWounds"><%= actor.maxWounds %> </div>
    <div class="currentWounds"><%= actor.currentWounds %> </div>
    <div class="overshieldT"><%= actor.overshieldT %> </div>
    <div class="overshieldMaxHp"><%= actor.overshieldMaxHp %> </div>
    <div class="overshieldCurrentHp"><%= actor.overshieldCurrentHp %> </div>
    <div class="overshieldNote"><%= actor.overshieldNote %> </div>
    <div class="regen"><%= actor.regen %> </div>
    <div class="notesDM"><%= actor.notesDM %> </div>
    <div class="level"><%= actor.level %> </div>
</div>
<% } %>
<% } %>

<div class="injuries"><%= actor.injuries %> </div>
<div class="maxPP"><%= actor.maxPP %> </div>
<div class="currentPP"><%= actor.currentPP %> </div>
<div class="maxBP"><%= actor.maxBP %> </div>
<div class="currentBP"><%= actor.currentBP %> </div>
<div class="haste"><%= actor.haste %> </div>
<div class="notesPlayer"><%= actor.notesPlayer %> </div>

</div>


    
<%- include('../partials/footer') %>